[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setproctitle = "*"
pyyaml = "*"
nptyping = "*"
numpy = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
